# those config would only pop up for once, basically is init config
{{- $choices := list "desktop" "server" -}}
{{- $hosttype := promptChoiceOnce . "hosttype" "What type of host are you on" $choices -}}
{{- $installDepDefault := false -}}
{{ if eq $hosttype "desktop" }} {{- $installDepDefault = true -}} {{ end }}
{{- $install_dep := promptBoolOnce . "install_dep" "Should we install deps when init" $installDepDefault }}

# those config would pop when called init, this is for templating data
data:
  hosttype: "{{ $hosttype }}"
  install_dep: {{ $install_dep }}
  tarball:
    nvim: v0.7.4

git:
  autoCommit: true
